@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: "Diranista-Regular";
    src: url("./fonts//Diranista-Regular.woff") format("woff");
  }
}

@layer components {
  .button-1 {
    @apply border-2 border-brown-pale bg-brown-pale hover:bg-transparent text-sm hover:text-brown-pale text-white font-semibold uppercase py-2 px-6 rounded-full;
  }
  .button-2 {
    @apply bg-white hover:bg-clay text-clay text-sm hover:text-white font-semibold uppercase py-2 px-6 rounded-full min-w-170;
  }
  .button-3 {
    @apply border-2 border-white bg-white hover:bg-transparent text-charcoal text-sm hover:text-white font-semibold uppercase py-2 px-6 rounded-full min-w-170;
  }
  .title-1 {
    @apply text-charcoal font-display text-5xl lg:text-6xl text-center uppercase my-10 mx-16;
  }
  .title-1-left {
    @apply text-charcoal font-display text-5xl lg:text-6xl uppercase my-10;
  }
}

@tailwind utilities;

/* react-responsive-carousel custom ccss */

.carousel .control-arrow, .carousel.carousel-slider .control-arrow::before{
  opacity: 1 !important;
}

.carousel .control-arrow:hover, .carousel.carousel-slider .control-arrow:active{
  background: none !important;
}

.carousel .control-dots .dot{
  box-shadow: none !important;
  opacity: 1!important;
  margin: 0 4px !important;
  border: solid grey 1px;
}

.carousel .control-dots .dot.selected{
  background: #a8896c !important;
  border: solid #3a3a3a 1px;

}

/* Default settings for texts */
p{
 line-height: 1.67;
 font-weight: 300;
}
